# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - projectgtp-pbackend

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: docker.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3AF9969C690A4EC9BF6BF874B6FE7CEA }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_5DB89516F4B14BBAB5E02CE968354885 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3AF9969C690A4EC9BF6BF874B6FE7CEA }}/ai-projectchat:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    needs: build
    
    steps:
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2E01D16E1D8D403F92DA34EFD849438E }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_CE7172292D3A47E09440540944E5719E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_0B75522B74E04E87A99269E072620079 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'projectgtp-pbackend'
          slot-name: 'Production'
          images: 'index.docker.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_3AF9969C690A4EC9BF6BF874B6FE7CEA }}/fleetur/ai-projectchat:${{ github.sha }}'
          